thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
  border: 3px solid purple;
}

th {
  letter-spacing: 2px;
  border: 3px solid purple;
}

td {
  letter-spacing: 1px;
  border: 3px solid purple;
}

tbody td {
  text-align: left;
}

tfoot th {
  text-align: left;
}